body {
  font-family: Arial, sans-serif;
  background-color: #3b3b36;

}

.header {
  padding-top: 40px;
  padding-left: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(255, 0, 0);
  background-color: aqua;
  border: solid 2px red;
  border-radius: 5px;
}

.image {
  margin-right: 15px;
  border-radius: 10px;
  float: right;
  display: flex;
  box-shadow: 10px 10px 10px rgba(233, 49, 13, 0.797);
  animation: swm 3s infinite;

}

.swamiImg {
  margin-right: 10px;
  border: solid 5px yellowgreen;
  border-radius: 10px;
  float: right;
  display: flex;
  box-shadow: 10px 12px 1px rgba(96, 177, 29, 0.797);


}


.container {
  margin-top: 55px;
  padding: 20px;
  background-color: #d1e4a6;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 250, 250, 0.1);
  color: #1f11e9;
}

h2 {
  margin-top: 0;
  font-size: x-large;
  color: rgb(255, 0, 0);
}

ul {
  padding-left: 20px;
  line-height: 1.5;
  font-size: larger;
}

p {
  line-height: 1.5;
  margin-bottom: 10px;
  font-size: x-large;
}

span {
  font-weight: bolder;
  color: rgb(250, 10, 150);
}

.love {
  color: rgb(216, 254, 25);
  text-align: center;
  margin-top: 20PX;
  font-size: 40px;
  animation: love 2s infinite;
}

@keyframes swm {

  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  1000% {
    opacity: 0;
  }
}

@keyframes swamiImg {

  0% {
    margin-left: -100px;
  }

  50% {
    margin-left: 00px;
  }

  100% {
    margin-right: 100px;
  }
}

@keyframes love {

  0% {
    font-size: 20px;
  }

  50% {
    font-size: 40px;
  }

  100% {
    font-size: 20px;
  }
}